html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
.price{

font-style: italic;
color: rgb(197, 197, 197); 
font-weight: 200;
    
}
p{
  font-weight: 300;
  font-family: 'Lato',sans-serif;
  color: #333;
}

.inputProductCount{
  margin-right: 9rem;
  width: 8rem;
}

